@use "../abstracts/" as *;

.hero {
  padding-block: $padding-hero;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8)),
    url(/images/Jungle.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: $ff-accent;

  &__content {
    height: 100%;
  }
}
