@use "../abstracts/" as *;

.nav {
  backdrop-filter: blur(10px);
}

.primary-nav {
  --flex-column-gap: #{size(48)};

  a:is(:hover, :focus) {
    opacity: 0.7;
    text-decoration: underline;
  }
}
