@use "sass:map";

$colors: (
  neutral: (
    100: white,
    200: #eadebc,
    400: #5c5c5c,
    900: #242424,
  ),
  primary: (
    400: #ff6635,
    500: #dd4e11,
  ),
);

@function clr($color, $shade) {
  @if map.has-key($colors, $color, $shade) {
    @return map.get($colors, $color, $shade);
  } @else {
    @error '$colors does not contain that color.';
  }
}

@each $color, $shade-map in $colors {
  @each $shade, $value in $shade-map {
    .clr-#{$color}-#{$shade} {
      color: $value;
    }
    .bg-#{$color}-#{$shade} {
      background-color: $value;
    }
  }
}
