@use "sass:map";

$sizes: (
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  20: 1.25rem,
  24: 1.5rem,
  28: 1.75rem,
  32: 2rem,
  36: 2.25rem,
  48: 3rem,
);

@function size($size) {
  @if map.has-key($sizes, $size) {
    @return map.get($sizes, $size);
  } @else {
    @error '$sizes does not contain that size.';
  }
}

$padding-hero: clamp(15rem, 15vh, 20rem);
$padding-section: clamp(3rem, 10vh, 7rem);
$padding-card-body: clamp(2rem, 3vw, 5rem);

$gap-grid: 1.5rem;
$gap-flex-group: 1rem;

$container-inline-spacing: 1rem;
$container-max-width-s: 45rem;
$container-max-width: 60rem;
$container-max-width-l: 75rem;
