@use "sass:map";

$ff-sans: "Lato", sans-serif;
$ff-serif: "Abril Fatface", serif;
$ff-base: $ff-sans;
$ff-accent: $ff-serif;

$font-sizes: (
  900: clamp(2.5rem, 0.5rem + 7vw, 5rem),
  800: clamp(1.875rem, 5rem + 10vw, 3.75rem),
  600: clamp(1.4rem, 0.5rem + 3vw, 1.6875rem),
  500: 1.3125rem,
  400: 1.125rem,
  300: 1rem,
);

$fw-thin: 200;
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;

@function fs($font-size) {
  @if map.has-key($font-sizes, $font-size) {
    @return map.get($font-sizes, $font-size);
  } @else {
    @error '$font-sizes does not contain that size.';
  }
}

@each $size-name, $size-value in $font-sizes {
  .fs-#{$size-name} {
    font-size: $size-value;

    @if $size-name > 600 {
      line-height: 1.1;
    }
  }
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-bold {
  font-weight: $fw-bold;
}
