@use "../abstracts/" as *;

.flex {
  display: flex;
  column-gap: var(--flex-column-gap, $gap-flex-group);
  row-gap: var(--flex-row-gap, calc($gap-flex-group / 2));
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;

  &.flex-center-x {
    justify-content: center;
  }

  &.flex-center-y {
    align-items: center;
  }
  &.flex-center {
    justify-content: center;
    align-content: center;
  }
  &.flex-between {
    justify-content: space-between;
  }
  &.flex-around {
    justify-content: space-around;
  }
  &.flex-evenly {
    justify-content: space-evenly;
  }
  &.flex-column {
    flex-direction: column;
  }
  &.flex-column-reverse {
    flex-direction: column-reverse;
  }
  &.flex-row {
    flex-direction: row;
  }
  &.flex-row-reverse {
    flex-direction: row-reverse;
  }
  &.flex-fullwidth {
    width: 100%;
  }
  &.container {
    --padding: #{$container-inline-spacing} * 2;
    --max-width: #{$container-max-width};
    width: min(100% - var(--padding), var(--max-width));
    margin-inline: auto;
  }
}
