.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
  top: 0;
}

// Margin utilities

.mx-auto {
  margin-inline: auto;
}

.my-auto {
  margin-block: auto;
}

.push-right {
  margin-left: auto;
}

.push-left {
  margin-right: auto;
}

.push-down {
  margin-top: auto;
}

.push-up {
  margin-bottom: auto;
}

.center {
  display: grid;
  place-items: center;
}

.center-block {
  display: grid;
  align-items: center;
}

.center-inline {
  display: grid;
  justify-items: center;
}
