@use "../abstracts/" as *;

@use "keyframes" as *;

.shrink-on-scroll {
  animation: to-size-48 linear forwards;
  animation-timeline: scroll(block root);
  animation-range-end: 40vh;
}

.shift-up-on-scroll {
  animation: shift-up linear forwards;
  animation-timeline: scroll(block root);
}
