@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-size: fs(300);
  font-weight: $fw-regular;
  color: clr(neutral, 900);
  line-height: 1.5;
  background: clr(neutral, 200);
}

section {
  padding-block: $padding-section-block;
  padding-inline: $padding-section-inline;
  width: 100%;
  position: relative;
}
